---
layout: default
---

<article class="post detailed">
  <h1>{{ page.title }}</h1>
  <p class="subtitle">{{page.subtitle}}</p>

  <div>
    <p class="author_title">
      {{site.author}} - {{ page.date | date: "%B %e, %Y" }}
    </p>
    {% if page.last_modified_at %}
    <p
      class="author_title"
      datetime="{{ page.last_modified_at | date_to_xmlschema }}"
    >
      (Updated: {{ page.last_modified_at | date: "%b %-d, %Y" }})
    </p>
    {% endif %}
    <div class="post-tags">
      {% if post %} {% assign tags = post.tags %} {% else %} {% assign tags =
      page.tags %} {% endif %} {% for category in tags %}
      <a href="{{site.baseurl}}/tags/#{{category|slugize}}">{{category}}</a>
      {% unless forloop.last %}&nbsp;{% endunless %} {% endfor %}
    </div>
  </div>

  <div class="entry">
    {{ content }}
  </div>

  <div>
    <p>
      <span class="share-box">Share this report:</span>
      <a
        href="https://www.linkedin.com/shareArticle?mini=true&url={{site.url}}{{site.baseurl}}{{page.url}}&title={{page.title}}"
        target="_blank"
        >LinkedIn</a
      >,
      <a
        href="http://twitter.com/share?text={{page.title}}&url={{site.url}}{{site.baseurl}}{{page.url}}"
        target="_blank"
        >Twitter</a
      >,
      <a
        href="https://www.facebook.com/sharer.php?u={{site.url}}{{site.baseurl}}{{page.url}}"
        target="_blank"
        >Facebook</a
      >
    </p>
  </div>

  <!--<div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>-->

  {% include disqus.html %}
</article>
